
/* .hero{
background-color: magenta;

}

#header{color: blue;} */


/* h1{
color: green;
} */


/* 
.title {
    color: yellow;
}

.description {
    color: blue;
} */

/* *{
    color: blueviolet;
} */

/* [disabled] {
    color:aqua;
} */


/* .hero .para{color: red;}

.para, .span{font-style:  strong;} */

/* p{
    color: blue;
} */

/* .text {
    color: black;
} */
/* 
#text {
    color: blue;
} */


/* div p {
color: blue;    
} */

/* div > p {
    color: blueviolet;
} */

/* h1 + p {
    color: yellow;
} */

/* h1 ~ p {
    color: blueviolet;
} */

/* 
input [type="text"] {
    color:yellowgreen;
} */


/* h1 , p{
color: blue;
} */


/* h1:hover{
color: red;
} */


/* input:checked{
    outline: 10px solid red;
} */


/* ul li:first-child{
    color: red;
} */


/* ul li:nth-of-type(odd) {
    background-color: blueviolet;
} */

ul li:nth-of-type(even) {
    background-color: blueviolet;
}
